body {
	  font-family: 'Arial';
  font-size: 11px;
  color: #333333;
}
.container {
	width: 570px;
	height: 570px;
	background: url(../img/bg.png) no-repeat;
	  margin: 0;
  padding: 0;
}

.form {
  position: relative;
  width: 320px;
  height: 370px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 98px 123px;
  background-color: #fbfdfd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
  border: 1px solid #cfdede;
}

.header {
	position: absolute;
  padding: 5px 7px;
  left: 30px;
  top: -5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #01b3b3;
}

.form_input {
	display: block;
  font-weight: 900;
}
.email {
	margin-top: 55px;
	margin-bottom: 10px;
}

.password {
	margin: 16px 0px 12px 0px;
}


.field {
	background: url(../img/bg.png) no-repeat;
  width: 100%;
  padding: 7px 12px;

  color: #777777;
  font-style: italic;
  border: 1px solid #cfdede;

}

.form-btn {
 width: 260px;
  height: 45px;
  margin-top: 34px;
  margin-bottom: 30px;
	border: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
	background: url(../img/btn.png) no-repeat;
}

